---
import Layout from '../layouts/Layout.astro';
import { FeatureGrid } from '../components/features/FeatureGrid';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Bellroy Feature Cards">
	<main class="min-h-screen">
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
			body {
				font-family: 'Lato', sans-serif;
			}
		</style>
		<FeatureGrid features={[
			{
				imageUrl: 'https://cdn.pixabay.com/photo/2016/11/23/18/12/bag-1854148_1280.jpg',
				imageAlt: 'Person in orange sweater',
				title: 'Designed in Melbourne',
				description: 'We are a design-obsessed brand based in Australia, but our products are carried right across the globe.',
				ctaText: 'Read about us >'
			},
			{
				imageUrl: 'https://cdn.pixabay.com/photo/2015/11/20/03/53/package-1052370_640.jpg',
				imageAlt: 'Slim wallet design',
				title: 'Engineered slim',
				description: 'We re-engineered the everyday wallet back in 2010, removing all excess and slimming millions of pockets in the process.',
				ctaText: 'Slim your wallet >'
			},
			{
				imageUrl: 'https://cdn.pixabay.com/photo/2015/03/12/04/41/camera-bag-669616_640.jpg',
				imageAlt: 'Person writing',
				title: 'Certified B Corp',
				description: "We're recognized for using business as a force for good. Which includes our development of recycled materials.",
				ctaText: 'Learn about our materials >'
			},
			{
				imageUrl: 'https://cdn.pixabay.com/photo/2016/11/23/18/12/bag-1854148_1280.jpg',
				imageAlt: 'Wallet product',
				title: 'Making products that last',
				description: "We're committed to making products that can be used and loved for as long as possible. Read about our product guarantees.",
				ctaText: 'On the Journal >'
			}
		]} client:load />
	</main>
</Layout>


